
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualize Training</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/magnific-popup.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/tooplate-style.css') }}" rel="stylesheet">
    <style>
      
      .checkbox-container {
          max-height: 200px; /* Adjust the height as needed */
          overflow-y: auto;
          padding: 10px;
          background-color: #7096bf9f;
          border: 1px solid #ddd;
          border-radius: 10px;
      }

      .container {
          display: block;
          position: relative;
          padding-left: 35px;
          margin-bottom: 12px;
          cursor: pointer;
          font-size: 22px;
          user-select: none;
      }

      .container input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
      }

      .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          height: 25px;
          width: 25px;
          background-color: #eee;
          border-radius: 4px;
      }

      .container:hover input ~ .checkmark {
          background-color: #949494;
      }

      .container input:checked ~ .checkmark {
          background-color: #2196F3;
      }

      .checkmark:after {
          content: "";
          position: absolute;
          display: none;
      }

      .container input:checked ~ .checkmark:after {
          display: block;
      }

      .container .checkmark:after {
          left: 9px;
          top: 5px;
          width: 5px;
          height: 10px;
          border: solid white;
          border-width: 0 3px 3px 0;
          transform: rotate(45deg);
      }
  </style>
</head>
<body>


    <div class="tm-container-fluid">
      <section class="tm-about tm-mb-80 tm-p-50 tm-bgcolor-3 tm-border-rounded">
        <div class="tm-about-header"> 
        <h2 style="margin-left:100px"> Edit your Parameter and Search for the Best Result</h2>
          <span class="setleft wid80">
          <button id = "progressButton" class="button" id="gs" value="GridSearch" style="margin-left:20px;margin-right:80px;margin-bottom:50px;width:350px;height:100px" onclick="GridSearch()">
              <h2 id="searchdiv">&#20;&#20;&#20;GridSearch&#20;&#20;&#20;</h2>
          </button>
          <button id = "progressButton2" class="button" id="rs" value="RandomSearch" style="margin-right:10px;margin-bottom:50px;width:350px;height:100px" onclick="RandomSearch()">
              <h2 id="searchdiv2">RandomSearch</h2>
          </button>
          </span>
          <div class="checkbox-container" style="max-height:350px">
          
            {% for key,value in param_dict.items() %}
            <label for="fname" id = "{{key}}" class = "paramName"><text style ="font-family: Arial, Helvetica, sans-serif;font-size:22px;color:#eee">{{key}}:</text></label>
            <input type="text" id="Listfor{{key}}" class ="paramList" value = "{{value}}"style="color:#29077a"><br>
            {% endfor %}
          </div>
        </div>
      </section>
        <section class="tm-about tm-mb-80 tm-p-50 tm-bgcolor-3 tm-border-rounded">
            <div class="tm-about-header tm-flex-center">
                <span class="setleft wid80">
                    <button id = "progressButton" class="button" id="rs" value="RandomSearch" style="margin-right:50px;margin-bottom:75px;" onclick="DisplayTable()">
                        <h2>DisplayTable</h2>
                    </button>
                    <button class="button" id="load" value="select the evaluation" onclick="sendcheckbox()" style="margin-right:50px;">
                        <h2 id = "graphdiv">Visualization</h2>
                    </button>
                </span>
            </div>
            <div class="tm-about-text">
                <p class="tm-mb-40"></p>
                <div class="posirelative select-out-div">
                    <select class="m-wrap" id="selectedEvaluation" style="width: 400px; padding: 7px 0;">
                        {% for evaluation in evaluation_list %}
                            <option value="{{evaluation}}">{{evaluation}}</option>
                        {% endfor %}
                    </select>
                    <span class="select-hide-span">
                        <b class="select-show-b"></b>
                    </span>
                </div>
                <!-- <div class="posirelative select-out-div">
                    <select class="m-wrap" id="selectedParameter" style="width: 400px; padding: 7px 0;">
                        {% for param_combination in param_dict_list %}
                            <option value="{{param_combination}}">{{param_combination}}</option>
                        {% endfor %}
                    </select>
                    <span class="select-hide-span">
                        <b class="select-show-b"></b>
                    </span>
                </div> -->
                <p class="tm-mb-0" style="margin-bottom:15px;font-size:20px;">
                    <b>Select Your Hyperparameter which will take in visualization </b>
                </p>
                <div class="checkbox-container">
                    {% for param in param_list %}
                        <label class="container">{{param}}
                            <input class="paramCheckBox" type="checkbox" value="{{param}}" onclick="checkChosenNumber(this)">
                            <span class="checkmark"></span>
                        </label>
                    {% endfor %}
                </div>
            </div>
        </section>
        <div id="graphSection" class="tm-gallery-section tm-mb-80" hidden="true">
            <ul class="filters-button-group tm-mb-40">
                <li><a href="#" data-filter=".feature">Feature</a></li>
                <li><a href="#" data-filter=".Hyperparameter">Hyperparameter</a></li>
                <li><a href="#" data-filter=".performance">Performance</a></li>
                <li><a href="#" class="active" data-filter="*">Show All</a></li>
            </ul>
            <div class="tm-gallery">
                {% for graph_id, graph_class in graph_dict.items() %}
                    <div id="{{graph_id}}" class="tm-gallery-item {{graph_class}}">
                        <iframe src="http://127.0.0.1:5000/scatter" class="img-fluid"></iframe>
                    </div>
                {% endfor %}
            </div>
        </div>
        <section class="tm-contact tm-mb-50 tm-bgcolor-3 tm-border-rounded">
            TODO: write some short description and Our information
            <br>The Website template is from 2020 Nano Folio https://www.tooplate.com
        </section>
        <footer class="tm-footer">
            This website is edit from Tooplate <a rel="sponsored" href="https://www.tooplate.com" class="tm-link-gray">Tooplate</a>
        </footer>
    </div>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
  	<script>
      $(function(){
          // Init the image gallery
          var $gallery = $(".tm-gallery").isotope({
            itemSelector: ".tm-gallery-item",
            layoutMode: "fitRows"
          });
        
          // Layout Isotope after each image loads
          $gallery.imagesLoaded().progress(function() {
            $gallery.isotope("layout");
          });
  
          $(".filters-button-group").on("click", "a", function(e) {
            e.preventDefault();
            var filterValue = $(this).attr("data-filter");
            $gallery.isotope({ filter: filterValue });
            $('.filters-button-group a').removeClass('active');
            $(this).addClass('active');
        });
  
          // Magnific Pop up
          $('.tm-gallery').magnificPopup({
            delegate: 'a',
            type: 'image',
            gallery: { enabled: true }
        });
        $("#progressButton").click(function(){
          $(this).prop("disabled",true);
          var progressBar = $('<progress id ="gsProgress" style="color:#7096bf9f;width:100%"></progress>')
          $("#searchdiv").text("Processing")
          $("#searchdiv").after(progressBar);

          // progressBar.animate(function(){
          //    GridSearch()
          //    $(this).remove()
          //    $('#progressButton').prop("disabled",false)
          // });
        });
        $("#progressButton2").click(function(){
          $(this).prop("disabled",true);
          var progressBar = $('<progress id ="rsProgress" style="color:#7096bf9f;width:100%"></progress>')
          $("#searchdiv2").text("Processing")
          $("#searchdiv2").after(progressBar);

          // progressBar.animate(function(){
          //    GridSearch()
          //    $(this).remove()
          //    $('#progressButton').prop("disabled",false)
          // });
        });
        $("#load").click(function(){
          $(this).prop("disabled",true);
          var progressBar = $('<progress id ="ghProgress" style="color:#7096bf9f;width:100%"></progress>')
          $("#graphdiv").text("Processing")
          $("#graphdiv").after(progressBar);

          var elementlist = document.getElementsByClassName('paramCheckBox');
          var checkCount = 0;
          for (let i=0;i<elementlist.length;i++){
            if(elementlist[i].checked == true){
               checkCount ++;
            }
          }
          if (checkCount == 0) {
          alert("chose one parameters at least");
          $('#ghProgress').remove()
          $('#load').prop("disabled",false)
          } 




          

          // progressBar.animate(function(){
          //    GridSearch()
          //    $(this).remove()
          //    $('#progressButton').prop("disabled",false)
          // });
        });
      });
    function getSearchProcess() {
        
    }
    function sendcheckbox() {
              document.getElementById("graphSection").hidden = true;
              var input = {
                  'evaluation': document.getElementById("selectedEvaluation").value,
                  "parameter":[],
                  //"param_combination":document.getElementById("selectedParameter").value,
  
              };
              var elementlist = document.getElementsByClassName('paramCheckBox');
              var checkCount = 0;
              for (let i=0;i<elementlist.length;i++){
                if(elementlist[i].checked == true){
                  input["parameter"].push(elementlist[i].value);
                  checkCount ++;
                }
              }
              
              $.ajax({
                  url: '/graphResult',
                  type: 'post',
                  contentType: 'application/json',
                  data: JSON.stringify(input),
                  success:function (t){
                    $("#graphdiv").text("Complete")
                    document.getElementById("graphSection").hidden = false;
                    $('#ghProgress').remove()
                    $('#load').prop("disabled",false)
                    for (const [key, value] of Object.entries(t)) {
                          $("#"+key).html(value)
                      }
                      $("#graphdiv").text("Visualization")
                    
                  },
                  error:function (){
                    window.alert("Error in Processing Visualization!")
                    $('#ghProgress').remove()
                    $('#load').prop("disabled",false)

                  }
      });
    
    }
    function checkChosenNumber(th) {
      var elementlist = document.getElementsByClassName('paramCheckBox');
      var checkCount = 0;
      for (let i=0;i<elementlist.length;i++){
        if(elementlist[i].checked == true){
          checkCount ++;
        }
       }
      if (checkCount > 2) {
        alert("You can only chose two parameters");
        th.checked = false;
  
  
      }
    }
    function GridSearch() {
      var input = {};
      //TODO: add support for textarea
      var elementNameList = document.getElementsByClassName('paramName');
      for (let i=0;i<elementNameList.length;i++){
        var elem = document.getElementById("Listfor" + elementNameList[i].id)
        console.log(elementNameList[i].id)
        console.log(elem.value)
        input[elementNameList[i].id] = elem.value}
      //             input["parameter"].push(elementlist[i].value);
      //           }
      // }
      console.log(input)
      $.ajax({
  
                  url: '/gsCommand',
                  type: 'post',
                  contentType: 'application/json',
                  data: JSON.stringify(input),
                  success:function (t){
                    $('#gsProgress').remove()
                    $('#progressButton').prop("disabled",false)
                    $("#searchdiv").text("GridSearch")
                    console.log(t);
                    //location.load()
                  },
                  error:function(){
                    window.alert("Error in Grid Search! Check console for details")
                    $('#gsProgress').remove()
                    $('#progressButton').prop("disabled",false)
                    $("#searchdiv").text("GridSearch")

                  }
      });
    }
     function RandomSearch() {
      var input = {};
      var elementNameList = document.getElementsByClassName('paramName');
      for (let i=0;i<elementNameList.length;i++){
        var elem = document.getElementById("Listfor" + elementNameList[i].id)
        console.log(elementNameList[i].id)
        console.log(elem.value)
        input[elementNameList[i].id] = elem.value}
      
      $.ajax({
  
                  url: '/rsCommand',
                  type: 'post',
                  contentType: 'application/json',
                  data: JSON.stringify(input),
                  success:function (){
                    $('#rsProgress').remove()
                    $('#progressButton2').prop("disabled",false)
                    $("#searchdiv2").text("RandomSearch")
                  },
                  error:function(){
                    window.alert("Error in Random Search! Check console for details")
                    $('#gsProgress').remove()
                    $('#progressButton').prop("disabled",false)
                    $("#searchdiv").text("GridSearch")
                  }
      });
  
    }
    function DisplayTable() {
      var input = {};
      $.ajax({
  
                  url: '/displayCommand',
                  type: 'post',
                  contentType: 'application/json',
                  data: JSON.stringify(input),
                  success:function (){
                    console.log("success")
                  }
      });
  
    }
  
  
    </script>
  </body>
  </html>     